@model IEnumerable<web_app.Models.Conjunto>
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Index";
    if (Context.Session.GetString("login") != null)
    {
        var valorSessao = Context.Session.GetString("login");
        var login = JsonConvert.DeserializeObject<Login>(valorSessao);
        int id = login.LoginId; // Alteração: usar LoginID em vez de Id
        ViewBag.id = id;
    }
}

<main id="main">
    <!-- ======= Seção ======= -->
    <!-- Renderize os dados dos professores -->
    @foreach (var conjunto in Model)
    {
        <h3>Conjunto</h3>
        @foreach (var professor in conjunto.Professores)
        {
            <p>@professor.Nome</p>
            <!-- Outras propriedades e marcações -->
        }
    }
        @foreach (var conjunto in Model)
    {
        <h3>Conjunto</h3>
        @foreach (var estudante in conjunto.Estudantes)
        {
            <p>@estudante.Nome</p>
            <!-- Outras propriedades e marcações -->
        }
    }
    @if (ViewBag.id == 1)
         {
             <p>
                 <a asp-action="Create"><button>adm</button></a>
             </p>
         }
    @if (ViewBag.id == 2)
        {
            <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>Professor</h3>
                    <img src="~/images/perfilanon.jpeg" alt="">
                    <p>Nome do ADM:</p>
                    <p>Código:</p>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <img src="~/images/fumaca.png" alt="">
                                <h4>Cadastrar Professores:</h4>
                                <a type="button" asp-action="create" class="btn btn-dark acessar mb-2">Cadastrar</a>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <img src="~/images/fumaca.png" alt="">
                                <h4>Cadastrar Turmas:</h4>
                                <button type="button" onclick="" class="btn btn-dark acessar">Cadastrar</button>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <img src="~/images/fumaca.png" alt="">
                                <h4>Gerenciar Cargos:</h4>
                                <button type="button" onclick="" class="btn btn-dark acessar">Gerenciar</button>
                            </div>
                        </div>
                    </div>
                </div><!-- Fim da .content-->
            </div>
        </div>

    </div>
</section><!-- Fim da Caixa -->
<!-- ======= Seção de Recursos ======= -->
<section id="features" class="features">
    <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #ffbb2c;"></i>
                    <h3><a href="">Modificar Documentos</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #5578ff;"></i>
                    <h3><a href="">Modificar Registros</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #e80368;"></i>
                    <h3><a href="">Quadro de Avisos</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #e361ff;"></i>
                    <h3><a href="">Turmas</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #47aeff;"></i>
                    <h3><a href="">Alterações de Login</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #bd43a8;"></i>
                    <h3><a href="">Solicitações pendentes</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #ff5828;"></i>
                    <h3><a href="">Modificação de Permissões</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
                    <h3><a href="">E-mails</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção de Recursos -->
        @foreach (var conjunto in Model)
        {
            <h3>Conjunto</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Professor</th>
                        <th>Nome</th>
                        <th>LoginID</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var professor in conjunto.Professores)
                    {
                        <tr>
                            <td>
                                @professor.ProfessorID
                            </td>
                            <td>
                                @professor.Nome
                            </td>
                            <td>
                                @professor.LoginID
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditProf", new { professorid=professor.ProfessorID }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Delete", "Delete", new { professorid=professor.ProfessorID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

            <p>
                <a asp-action="Create"><button>prof</button></a>
            </p>
        }
    @if (ViewBag.id == 3)
        {
             <p>
                 <a asp-action="Create"><button>estudnate</button></a>
             </p>
        }

<!-- Renderize os dados dos alunos -->
@*    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Bem-Vindo ao Phoenix!</h3>
                    <p class="fst-italic">
                        Somos um Sistema de Gestão Educacional
                    </p>
                    <ul>
                        <li>
                            <i class="bi bi-check-circle"></i> Nosso objetivo é facilitar o acesso dos alunos e
                            professores às
                            informações acadêmicas essenciais.
                        </li>
                        <li>
                            <i class="bi bi-check-circle"></i> Com uma interface Amigável e de facíl aprendizado
                        </li>
                        <li><i class="bi bi-check-circle"></i> Trazer organizacão e qualidade à sua gestão.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>*@
    <!-- Fim Info Seção -->
</main>
