@model IEnumerable<web_app.Models.Conjunto>
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Index";
    if (Context.Session.GetString("login") != null)
    {
        var valorSessao = Context.Session.GetString("login");
        var login = JsonConvert.DeserializeObject<Login>(valorSessao);
        int id = login.LoginId; // Alteração: usar LoginID em vez de Id
        ViewBag.id = id;
    }
}

<main id="main">
@*    <!-- ======= Seção ======= -->
    <!-- Renderize os dados dos professores -->
    @foreach (var conjunto in Model)
    {
        <h3>Conjunto</h3>
        @foreach (var professor in conjunto.Professores)
        {
            <p>@professor.Nome</p>
            <!-- Outras propriedades e marcações -->
        }
    }
        @foreach (var conjunto in Model)
    {
        <h3>Conjunto</h3>
        @foreach (var estudante in conjunto.Estudantes)
        {
            <p>@estudante.Nome</p>
            <!-- Outras propriedades e marcações -->
        }
    }*@
    @*ADM*@
    @if (ViewBag.id == 1)
         {
    <!-- ======= Caixa ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Administrador</h3>
                        <img src="~/images/perfilanon.jpeg" alt="">
                        <p>Nome do ADM:</p>
                        <p>Código:</p>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img src="~/images/fumaca.png" alt="">
                                    <h4>Estudante:</h4>
                                    <a type="button" asp-action="CreateEstu" asp-controller="home" class="btn btn-dark acessar mb-2">Cadastrar</a>
@*                                    <li><a asp-area="" asp-controller="Professor" asp-action="Index">Professor</a></li>*@
@*                                    <button type="button" onclick="" class="btn btn-dark acessar mb-2"></button>*@
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img src="~/images/fumaca.png" alt="">
                                    <h4>Professor:</h4>
                                        <a type="button" asp-action="CreateProf" asp-controller="home" class="btn btn-dark acessar mb-2">Cadastrar</a>
@*                                    <button type="button" onclick="" class="btn btn-dark acessar mb-2">Gerenciar</button>*@
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <img src="~/images/fumaca.png" alt="">
                                    <h4>Login</h4>
                                    <a type="button" asp-action="Createlogin" asp-controller="home" class="btn btn-dark acessar mb-2">Cadastrar</a>
@*                                    <button type="button" onclick="" class="btn btn-dark acessar mb-2">Gerenciar</button>*@
                                </div>
                            </div>
                        </div>
                    </div><!-- Fim da .content-->
                </div>
            </div>

        </div>
    </section><!-- Fim da Caixa -->
    <!-- ======= Seção de Recursos ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box">
                        <img src="~/images/fumaca8.png" alt="">
                        <i class="ri-file-list-3-line" style="color: #ffbb2c;"></i>
                        <h3><a href="">Modificar Documentos</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <img src="~/images/fumaca2.png" alt="">
                        <i class="ri-file-list-3-line" style="color: #5578ff;"></i>
                        <h3><a href="">Modificar Registros</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <img src="~/images/fumaca3.png" alt="">
                        <i class="ri-file-list-3-line" style="color: #e80368;"></i>
                        <h3><a href="">Quadro de Avisos</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <img src="~/images/fumaca4.png" alt="">
                        <i class="ri-file-list-3-line" style="color: #e361ff;"></i>
                        <h3><a href="">Turmas</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <img src="~/images/fumaca5.png" alt="">
                        <i class="ri-file-list-3-line" style="color: #47aeff;"></i>
                        <h3><a href="">Alterações de Login</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <img src="~/images/fumaca6.png" alt="">
                        <i class="ri-file-list-3-line" style="color: #bd43a8;"></i>
                        <h3><a href="">Solicitações pendentes</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <img src="~/images/fumaca8.png" alt="">
                        <i class="ri-file-list-3-line" style="color: #ff5828;"></i>
                        <h3><a href="">Modificação de Permissões</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <img src="~/images/fumaca1.png" alt="">
                        <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
                        <h3><a href="">E-mails</a></h3>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- Fim da Seção de Recursos -->
        @foreach (var conjunto in Model)
        {
            <h3>Logins</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuário</th>
                        <th>Senha</th>
                        <th>Tipo do login</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in conjunto.Logins)
                    {
                        <tr>
                            <td>
                                @item.LoginId
                            </td>
                            <td>
                                @item.Username
                            </td>
                            <td>
                                @item.Password
                            </td>
                            <td>
                                @item.TipoLogin
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditLogin", new { loginid=item.LoginId }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Delete", "Delete", new { loginid=item.LoginId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @foreach (var conjunto in Model)
        {
            <h3>Professores</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Professor</th>
                        <th>Nome</th>
                        <th>Digito</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var professor in conjunto.Professores)
                    {
                        <tr>
                            <td>
                                @professor.ProfessorID
                            </td>
                            <td>
                                @professor.Nome
                            </td>
                            <td>
                                @professor.LoginID
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditProf", new { professorid=professor.ProfessorID }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Delete", "Delete", new { professorid=professor.ProfessorID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @foreach (var conjunto in Model)
        {
            <h3>Estudantes</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Estudante</th>
                        <th>Nome</th>
                        <th>Digito</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var estudante in conjunto.Estudantes)
                    {
                        <tr>
                            <td>
                                @estudante.EstudanteID
                            </td>
                            <td>
                                @estudante.Nome
                            </td>
                            <td>
                                @estudante.LoginID
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditEstudante", new { estudanteid=estudante.EstudanteID }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Delete", "Delete", new { estudanteid=estudante.EstudanteID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
         }
    @*Professor*@
    @if (ViewBag.id == 2)
        {
     <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>Professor</h3>
                    <img src="~/images/perfilanon.jpeg" alt="">
                    <p>Nome do Professor:</p>
                    <p>Código:</p>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <img src="~/images/fumaca.png" alt="">
                                <h4>Cadastrar Matéria:</h4>
                                        <a type="button" asp-action="Create" class="btn btn-dark acessar mb-2">Cadastrar</a>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <img src="~/images/fumaca.png" alt="">
                                <h4>Cadastrar Turmas:</h4>
                                <button type="button" onclick="" class="btn btn-dark acessar">Cadastrar</button>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <img src="~/images/fumaca.png" alt="">
                                <h4>Chamada:</h4>
                                <button type="button" onclick="mostrar()" class="btn btn-dark acessar">Mostrar</button>
                            </div>
                        </div>
                    </div>
                </div><!-- Fim da .content-->
            </div>
        </div>

    </div>
    </section>

        <section id="escondido" class ="escondido">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box clearfix">
                            <div class="table-responsive">
                                @foreach (var conjunto in Model){
                                    <table class="table user-list">
                                    <thead>
                                        <tr>
                                            <th><span>Nome</span></th>
                                            <th><span>R.A</span></th>
                                            
                                            <th class="text-center"><span>Presença</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            @foreach (var estudante in conjunto.Estudantes){
                                                <tr>
                                                    <td>
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" style="width: 50px;">
                                                        <a href="#" class="user-link">@estudante.Nome</a>
                                                    </td>
                                                    <td>
                                                        @estudante.EstudanteID
                                                    </td>
                                                    
                                                    <td class="text-center">
                                                        <input type="checkbox">
                                                    </td>
                                            
                                                </tr>
                                            }
                                        
                                    </tbody>
                                    </table>
                                }
                            </div>
                            <button type="button" onclick="esconder()" class="btn btn-dark acessar pull-right">Postar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ======= Seção de Recursos ======= -->
<section id="features" class="features">
    <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <img src="~/images/fumaca8.png" alt="">
                    <i class="ri-file-list-3-line" style="color: #ffbb2c;"></i>
                    <h3><a href="">Modificar Documentos</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="~/images/fumaca5.png" alt="">
                    <i class="ri-file-list-3-line" style="color: #5578ff;"></i>
                    <h3><a href="">Modificar Registros</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="~/images/fumaca3.png" alt="">
                    <i class="ri-file-list-3-line" style="color: #e80368;"></i>
                    <h3><a href="">Quadro de Avisos</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <img src="~/images/fumaca4.png" alt="">
                    <i class="ri-file-list-3-line" style="color: #e361ff;"></i>
                    <h3><a href="">Turmas</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="~/images/fumaca5.png" alt="">
                    <i class="ri-file-list-3-line" style="color: #47aeff;"></i>
                    <h3><a href="">Alterações de Login</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="~/images/fumaca6.png" alt="">
                    <i class="ri-file-list-3-line" style="color: #bd43a8;"></i>
                    <h3><a href="">Solicitações pendentes</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="~/images/fumaca8.png" alt="">
                    <i class="ri-file-list-3-line" style="color: #ff5828;"></i>
                    <h3><a href="">Modificação de Permissões</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                            <img src="~/images/fumaca1.png" alt="">
                    <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
                    <h3><a href="">E-mails</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção de Recursos -->
        }
    @*Estudante*@
    @if (ViewBag.id == 3)
        {

        <main id="main">

           
            <section id="why-us" class="why-us">
                <div class="container" data-aos="fade-up">

                    <div class="row">
                        <div class="col-lg-4 d-flex align-items-stretch">
                            <div class="content">
                                <h3>Aluno</h3>
                                <img src="~/images/perfilanon.jpeg" alt="">
                                <p>Nome do Aluno:</p>
                                <p>R.A Escolar:</p>
                                <p>Curso:</p>
                            </div>
                        </div>
                        <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                            <div class="icon-boxes d-flex flex-column justify-content-center">
                                <div class="row">
                                    <div class="col-xl-4 d-flex align-items-stretch">
                                        <div class="icon-box mt-4 mt-xl-0">
                                            <i class="bx bx-receipt prova-icon"><img src="~/images/fumaca.png" alt=""></i>
                                            
                                            <h4>Proxima Prova.</h4>
                                            <p>Data: 07/12/2022</p>
                                            <p>Algoritmo e Lógica</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 d-flex align-items-stretch">
                                        <div class="icon-box mt-4 mt-xl-0">
                                            <i class="bx bx-error-circle aviso-icon"><img src="~/images/fumaca.png" alt=""></i>
                                            
                                            <h4>Importante!</h4>
                                            <p>Data: 02/12/2022</p>
                                            <p>Apresentação Projeto Interdisciplinar</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 d-flex align-items-baseline">
                                        <div class="icon-box mt-4 mt-xl-0">
                                            <i class="bx bx-images documento-icon"><img src="~/images/fumaca9.png" alt=""></i>
                                            
                                            <h4>Pendências.</h4>
                                            <ul>
                                                <li>Documentação Pendentes.</li>
                                                <li>Cópia do Histórico Escolar.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Fim da .content-->
                        </div>
                    </div>
                </div>
            </section><!-- Fim da Caixa -->
            <!-- ======= Seção de Recursos ======= -->
            <section id="features" class="features">
                <div class="container" data-aos="fade-up">

                    <div class="row" data-aos="zoom-in" data-aos-delay="100">
                        <div class="col-lg-3 col-md-4">
                            <div class="icon-box icon-selecionado">
                                <img src="~/images/fumaca1.png" alt="">
                                <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
                                <h3><a href="">Perfil</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                            <div class="icon-box">
                                <img src="~/images/fumaca2.png" alt="">
                                <i class="ri-file-list-3-line" style="color: #5578ff;"></i>
                                <h3><a href="">Banco de Dados</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                            <div class="icon-box">
                                <img src="~/images/fumaca3.png" alt="">
                                <i class="ri-file-list-3-line" style="color: #e80368;"></i>
                                <h3><a href="">Design Digital</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                            <div class="icon-box">
                                <img src="~/images/fumaca6.png" alt="">
                                <i class="ri-file-list-3-line" style="color: #e361ff;"></i>
                                <h3><a href="">Algoritmo e Lógica</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 mt-4">
                            <div class="icon-box">
                                <img src="~/images/fumaca5.png" alt="">
                                <i class="ri-file-list-3-line" style="color: #47aeff;"></i>
                                <h3><a href="">Engenharia de Software</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 mt-4">
                            <div class="icon-box">
                                <img src="~/images/fumaca4.png" alt="">
                                <i class="ri-file-list-3-line" style="color: #bd43a8;"></i>
                                <h3><a href="">Sistemas Operacionais</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 mt-4">
                            <div class="icon-box">
                                <img src="~/images/fumaca9.png" alt="">
                                <i class="ri-calendar-todo-line" style="color: #ff5828;"></i>
                                <h3><a href="">Quadro de Avisos</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 mt-4">
                            <div class="icon-box">
                                <img src="~/images/fumaca8.png" alt="">
                                <i class="ri-file-list-3-line" style="color: #ffbb2c;"></i>
                                <h3><a href="">Desenvolvimento Web</a></h3>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- Fim da Seção de Recursos -->
        </main>
        }

<!-- Renderize os dados dos alunos -->
@*    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Bem-Vindo ao Phoenix!</h3>
                    <p class="fst-italic">
                        Somos um Sistema de Gestão Educacional
                    </p>
                    <ul>
                        <li>
                            <i class="bi bi-check-circle"></i> Nosso objetivo é facilitar o acesso dos alunos e
                            professores às
                            informações acadêmicas essenciais.
                        </li>
                        <li>
                            <i class="bi bi-check-circle"></i> Com uma interface Amigável e de facíl aprendizado
                        </li>
                        <li><i class="bi bi-check-circle"></i> Trazer organizacão e qualidade à sua gestão.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>*@
    <!-- Fim Info Seção -->
</main>
